.product-wholesale-price {
	width: 20%;
}

.non-clickable{
	pointer-events: none;
	opacity: 0.5;
}

.wcwp_notification_popup {
	display: inline-block;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
	position: fixed;
	right: -100%;
	top: 10%;
	background-color: #FFF;
	padding: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #B9584F;
	color: #FFF;
	z-index: 99999;
	min-width: 320px;
}

.wcwp_notification_popup:hover {
	background-color: #B0483E;
}

.wcwp_notification_popup.is-success {
	background: rgba( 64, 151, 64, 0.6313725490196078 );
}

.wcwp_notification_popup.is-success:hover {
	background-color: #409740;
}

.wcwp_notification_popup.is-error {
	background: rgba( 185, 88, 79, 0.7019607843137254 );
}

.wcwp_notification_popup.is-error:hover {
	background-color: #B9584F;
}

.wcwp_notification_popup.active {
	right: 10px;
}

.wcwp_notification_popup .wcwp_notification_icon {
	display: inline-block;
	width: 35px;
	vertical-align: top;
	font-size: 26px;
	padding: 5px 5px 0 0;
	box-sizing: border-box;
}

.wcwp_notification_popup .wcwp_notification_message {
	width: calc( 100% - 40px );
	display: inline-block;
	vertical-align: top;
	line-height: normal;
}

.wcwp_notification_popup .wcwp_notification_message .title {
	font-size: 21px;
	margin: 0 0 5px;
	color: #FFF;
}

.wcwp_notification_popup .wcwp_notification_message p {
	font-size: 14px;
	margin: 0 0 6px;
	line-height: normal;
}

.wcwp_notification_popup .wcwp_notification_message ul {
	margin: 0;
}

.wcwp_notification_popup .wcwp_notification_message ul li {
	margin-bottom: 3px;
}

.wcwp_notification_popup .wcwp_notification_close {
	position: absolute;
	right: 15px;
	top: 5px;
	cursor: pointer;
	font-weight: 600;
}

.wcwp_notification_popup .wcwp_notification_close:before {
	content: 'x';
	display: inline-block;
	font-size: 18px;
}

.wcwp-wholesale-notice {
	position: relative !important;
	margin-bottom: 10px !important;
	pointer-events: none;
	padding: 5px !important;
	z-index: 9 !important;
	width: 50%;
}

.wcwp-wholesale-notice p {
	margin-bottom: unset;
}

.wcwp-wholesale-notice:before,
.wcwp-wholesale-notice:after {
	content: '' !important;
	display: none !important;
}

.wcwp-wholesale-flash {
	border: 1px solid;
    border-color: #6d6d6d;
    color: #6d6d6d;
    padding: 0.202em 0.6180469716em;
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 1em;
    border-radius: 3px;
    position: relative;
}

.wcwp-wholesale-ordering-table tr td.product-quantity input[type="number"] {
	width: 45px !important;
}
